@page
@model YOS_CRUD.Pages.http.upload_xmlModel
@{
    ViewData["Title"] = "Загрузка файла XML в YOS";
}

<div class="text-center">
    <h1 class="display-4">Загрузка  файла XML в YOS</h1>
</div>

<!--
    https://console.cloud.yandex.ru/folders/b1gfrl6pcui3oq3j02ci/storage/buckets
     Загрузка объекта в бакет https://cloud.yandex.ru/docs/storage/operations/objects/upload?from=int-console-empty-state
     Загрузка файла с помощью HTML формы https://cloud.yandex.ru/docs/storage/concepts/presigned-post-forms?from=int-console-empty-state
     S3-совместимые инструменты для работы с хранилищем https://cloud.yandex.ru/docs/storage/tools/?from=int-console-empty-state
     Как пользоваться API https://cloud.yandex.ru/docs/storage/s3/?from=int-console-empty-state

     Common MIME types https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types
     XML as a top level MIME type https://alblue.bandlem.com/2005/08/rantxml-xml-as-top-level-mime-type.html
         -->

<form action="https://storage.yandexcloud.net/topfirm" method="post" enctype="multipart/form-data">
    Каталог в хранилище:
    <input  name="key" value="test/xml/${filename}" /><br />
    <input type="hidden" name="acl" value="public-read" />
    <input type="hidden" name="success_action_redirect" value="https://localhost:7019/" />
    <input type="hidden" name="Content-Type" value="application/xml" /><!--ОБЯЗАТЕЛЬНО-->
   <br />
    Файл для загрузки:
    <input type="file" name="file" /> <br />
    <input type="submit" name="submit" value="Загрузить" />
</form>