@page
@model YOS_CRUD.Pages.S3.IndexModel
@{
}

<h1 class="display-6">S3</h1>
<p>
    @Html.Raw(Model.Message)
</p>

<p><b>Записать в файл @Model.myFile</b></p>
<form method="post">
    <input type="text" id="myBody" name="myBody" size="50" value="test:" />
    <button>Выполнить</button>
</form>
