@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Yandex Object Storage операции CRUD</h1>
</div>
 <h2 class="mt-4 ">Прямая загрузка объектов в YOS по http</h2>
   <p >
        <a href="/HTTP/upload-img">Загрузка картинки</a><br />
    <a href="/HTTP/upload-xml">Загрузка XML</a><br />
   </p>
