@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<h1 class="display-5">Yandex Object Storage операции CRUD</h1>
<h2 class="mt-4 ">Прямая загрузка объектов в YOS по http</h2>
   <p >
        <a href="/HTTP/upload-img">Загрузка картинки</a><br />
    <a href="/HTTP/upload-xml">Загрузка XML</a><br />
  
   </p>
<h2 class="mt-2 ">Библиотека S3</h2>
<p>
    <a href="/S3">S3</a><br />
</p>